img {
  width:75%;
  border-radius: 5px 5px 5px 5px;
}

h5 {
  display:inline;
  margin-left: 25%;
}

hr {
  padding:0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-holder {
  width: 180px;
  height: 200px;
}

.description-book {
  color: black;
}

a { color: inherit; } 