img {
  width:75%;
  border-radius: 5px 5px 5px 5px;
  margin-top: 10px;
}

h5 {
  display:inline;
  margin-left: 25%;
}

.img-holder {
  width: 75%;
}

.link {
  text-decoration: none;
  color: black;
}
